<div class="main-body">
  <h1>WHAT IS THE WEATHER TODAY?</h1>
  <div class="location-input">
    <%= form_tag root_path, method: :get do %>
      <%= text_field_tag :query,
                params[:query],
                placeholder: "Where are you?",
                class: "location-input_box"
              %>
      <%= button_tag "Go!", class:"go-button" %>
    </div>
  <% end %>
  <div class="output">
    <% if @final_output.present?%>
      <div class="output-section">
        <h3>The temperature is:</h3>
        <p class="output-text">
          <%= @final_output["main"]["temp"]%>
        </p>
        <p class="output-section">degrees celcius</p>
      </div>
      <div class="output-section">
        <h3>Cloud cover:</h3>
        <p class="output-text">
          <%= @final_output["weather"][0]["description"]%>
        </p>
      </div>
    <% else %>
      <div class="prompt-text">
        <h3>Please type your location in the search bar</h3>
      </div>
    <% end %>
  </div>
  <div class="to-do">
    <% if @final_output.present? && @final_output["main"]["temp"].to_i.between?(20, 34) %>
      <h3>Check out the weather!</h3>
      <h2>REMEMBER TO WEAR SUN SCREEN</h2>
    <% elsif @final_output.present? && @final_output["main"]["temp"].to_i.between?(35, 50)%>
      <h3>The weather is far too hot!</h3>
      <h2>FIND YOURSELF SOMEWHERE COOL</h2>
    <% elsif  @final_output.present? && @final_output["main"]["temp"].to_i.between?(1, 19)%>
      <h3>The weather is getting chilly</h3>
      <h2>REMEMBER TO TAKE A JACKET</h2>
    <% else %>
      <h1> </h1>
    <%end%>
  </div>
</div>
